// Place all the styles related to the GamesController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Arial;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.letters {
  display: flex;
  justify-content: space-between;
}

.letter {
  font-weight: bold;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
  background-color: rgb(64, 152, 220);
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
